<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Consultations</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">

</head>

<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
    <form method="post" th:action="@{/admin/saveCons(page=${page},keyword=${keyword})}">

    <div>
        <label>ID :</label>
        <label th:text="${consultation.id}"></label>
            <input class="form-control" type="hidden" name="id" th:value="${consultation.id}">
        </div>
        <div>
            <label for="nom">Nom du Patient</label>
            <input id="nom" class="form-control" type="text" name="nom" th:value="${consultation.nom}">
            <span class="text-danger" th:errors="${consultation.nom}"></span>
        </div>

        <div>
            <label>Date de Consultation</label>
            <input class="form-control" type="date" name="dateCons" th:value="${consultation.dateCons}">
            <span class="text-danger" th:errors="${consultation.dateCons}"></span>
        </div>

        <div>
            <label for="nomDoc">Nom du Docteur</label>
            <input id="nomDoc" class="form-control" type="text" name="nomDoc" th:value="${consultation.nomDoc}">
            <span class="text-danger" th:errors="${consultation.nomDoc}"></span>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>

    </form>
    </div>
</div>
</body>

</html>